<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Quiz Questions</title>
    <link rel="stylesheet" href="/css/teacher/addQuiz.css">
    <link rel="stylesheet" href="/css/modal.css">

</head>

<body>
    <nav class="navbar">
        <div class="navbar-container">
            <h1 class="logo"><a href="/">GenQuizo</a></h1>
            <ul class="nav-links">
                <!-- <li><a href="/teacher">My Quiz</a></li> -->
                <!-- <li><a href="/teacher/tudents">Students</a></li> -->
            </ul>
            <div>
               <a class="btn add-quiz-btn" href="/teacher/add-quiz" >Add Quiz</a>
                <a id="logout-btn" class="btn add-quiz-btn">Logout</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1 style="text-align: start;">Add Quiz Questions</h1>
        <form id="quiz-form">
            <div id="questions-container">
                <input type="text" id="quiz-title" placeholder="Quiz Title" name="title" required>
                <!-- Questions will be dynamically added here -->
               
                <!--  -->
            </div>
            <div id="quiz-form-control">
                <button type="button" id="add-question-btn">Add Question</button>
                <button type="submit" id="submit-btn">Submit</button>
            </div>
        </form>
    </div>
    <div id="modal-background" class="modal-background">
        <div id="modal" class="modal">
            <div class="modal-content">
                <p id="modal-message"></p>
                <button id="modal-button"></button>
            </div>
        </div>
    </div>

    <script src="/js/modal.js"></script>

    <script src="/js/teacher/addQuiz.js"></script>
</body>

</html>