<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attempt Page</title>
    <link rel="stylesheet" href="/css/teacher/attempt.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/teacher/nav.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <h1 class="logo"><a href="/">GenQuizo</a></h1>
            <ul class="nav-links">
                <!-- <li><a href="/teacher">My Quiz</a></li> -->
                <!-- <li><a href="/teacher/students">Students</a></li> -->
            </ul>
            <div>
                <a href="/teacher/add-quiz" class="btn add-quiz-btn">Add Quiz</a>
                <a id="logout-btn" class="btn logout-btn">Logout</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="title-container">
            <h1 class="page-title" id="page-title"></h1>
            <button class="btn" id="back-btn">Back</button>
        </div>
        
        <!-- List of student cards -->
        <div class="student-cards">
            <!-- Sample student card -->
            <!-- <div class="student-card">
                <h2 class="email">example@student.com</h2>
                <div class="marks-container">
                    <p class="correct-marks">✔️ 4</p>
                    <p class="wrong-marks">❌ 2</p>
                </div>
            </div> -->

            <!-- Add more student cards here -->
        </div>
    </div>

    <div id="modal-background" class="modal-background">
        <div id="modal" class="modal">
            <div class="modal-content">
                <p id="modal-message"></p>
                <button id="modal-button"></button>
            </div>
        </div>
    </div>

    <script src="/js/modal.js"></script>
    <script src="/js/teacher/attempt.js"></script>
</body>
</html>
