<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Page</title>
    <link rel="stylesheet" href="/css/student/question.css">
    <link rel="stylesheet" href="/css/student/nav.css">
    <link rel="stylesheet" href="/css/modal.css">

</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <h1 class="logo"><a href="/">GenQuizo</a></h1>
            <ul class="nav-links">
                <!-- <li><a href="/student">Dashboard</a></li> -->
            </ul>
            <div>
                <a id="logout-btn" class="btn logout-btn">Logout</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="left-section">
            <section class="question-section">
                <h2>Question</h2>
                <p class="question">Loading...</p>
            </section>
            <section class="your-answer-section">
                <h2>Your Answer</h2>
                <p class="your-answer">Loading...</p>
            </section>
            <section class="actual-answer-section">
                <h2>Actual Answer</h2>
                <p class="actual-answer">Loading...</p>
            </section>
        </div>
        <div class="right-section">
            <div class="scrollable-container">
                <h1>Solution & Info</h1>
                <!-- Information about the question goes here -->
                <p class="resource">Loading...</p>
            </div>
        </div>
    </div>

    <div id="modal-background" class="modal-background">
        <div id="modal" class="modal">
            <div class="modal-content">
                <p id="modal-message"></p>
                <button id="modal-button"></button>
            </div>
        </div>
    </div>

    <script src="/js/modal.js"></script>
    <script src="/js/student/question.js"></script>
</body>
</html>
